/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
!/src/minecraft/net/meteor/
!/src/minecraft/net/minecraft/src/meteor/

*.bat
*.sh
