/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/src/minecraft/fml_at.cfg
/src/minecraft/fml_marker.cfg
/src/minecraft/fmlversion.properties
/src/minecraft/forge_at.cfg
/src/minecraft/forge_logo.png
/src/minecraft/mcp.png
/src/minecraft/mcpmod.info
/src/minecraft/Start.java
/src/minecraft/cpw/*
/src/minecraft/ibxm/*
/src/minecraft/paulscode/*
/src/minecraft/net/minecraftforge/*
/src/minecraft/net/minecraft/block/*
/src/minecraft/net/minecraft/client/*
/src/minecraft/net/minecraft/command/*
/src/minecraft/net/minecraft/crash/*
/src/minecraft/net/minecraft/creativetab/*
/src/minecraft/net/minecraft/dispenser/*
/src/minecraft/net/minecraft/enchantment/*
/src/minecraft/net/minecraft/entity/*
/src/minecraft/net/minecraft/inventory/*
/src/minecraft/net/minecraft/item/*
/src/minecraft/net/minecraft/nbt/*
/src/minecraft/net/minecraft/network/*
/src/minecraft/net/minecraft/pathfinding/*
/src/minecraft/net/minecraft/potion/*
/src/minecraft/net/minecraft/profiler/*
/src/minecraft/net/minecraft/server/*
/src/minecraft/net/minecraft/stats/*
/src/minecraft/net/minecraft/tileentity/*
/src/minecraft/net/minecraft/util/*
/src/minecraft/net/minecraft/village/*
/src/minecraft/net/minecraft/world/*
/src/minecraft/net/minecraft/src/BaseMod.java
/src/minecraft/net/minecraft/src/EntityRendererProxy.java
/src/minecraft/net/minecraft/src/FMLRenderAccessLibrary.java
/src/minecraft/net/minecraft/src/MLProp.java
/src/minecraft/net/minecraft/src/ModLoader.java
/src/minecraft/net/minecraft/src/ModTextureAnimation.java
/src/minecraft/net/minecraft/src/ModTextureStatic.java
/src/minecraft/net/minecraft/src/TradeEntry.java


!/src/minecraft/net/meteor/*
!/src/minecraft/net/minecraft/src/meteor/*


*.bat
*.sh
